.img-container {
    width: 300px;
    height: 170px;
}
.pizzaSection {
    display: inline-block;
    width: 80%;
}
.updateWidth {
    width: 31%;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px beige;
}
.buttonStyle {
    border-radius: 3px;
    font-style: italic;
}