.summarySection {
    display: inline-block;
    width: 25%;
    border: 1px dashed gray;
    position: absolute;
    top: 120px;
    text-align: center;
    height: 400px;
    border-radius: 5px;
}
.inline {
    display: inline-block;
    width: 45%;
}
.displayNone {
    display: none;
}